# Ignorar a .github temporariamente (estou usando o projeto para realizar testes com o Copilot)
.github/

# Variáveis de ambiente
.env*

# Arquivo de configuração do banco de dados
env.php

# Diretório de uploads (salvo o arquivo .htaccess para proteger os arquivos)
uploads/*
!uploads/.htaccess
