NO_COMMIT
.github/
.agents
AGENTS.md

# Variáveis de ambiente
.env*

# Arquivo de configuração do banco de dados
env.php

# Diretório de uploads (salvo o arquivo .htaccess para proteger os arquivos)
uploads/*
!uploads/.htaccess
