# Desabilita a listagem de diretórios

Options -Indexes
RewriteEngine On

# Regras de "reescrita" da URL, envia tudo pro index.php

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L]
