.produto-caracteristica {
  border: 1px solid var(--bs-primary-lighter);
  border-radius: 999px;
  color: var(--bs-primary-dark);
  line-height: 1;
  padding: 0.375rem 0.75rem;
}

@media screen and (min-width: 768px) {
  .produto-imagem {
    max-height: 600px;
    object-fit: cover;
  }
}
